/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.main {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px #282b1f;
  -moz-box-shadow: 0px 0px 10px #282b1f;
  box-shadow: 0px 0px 10px #282b1f;  

  a {
    color: #333;
    &:visited { 
      color: #333;
    }
    &:hover {
      color: #fff;
    }
  }
}

header.main {
  top: 0;
  height: 100px;
  background: #39f;
  color: #333;

  a#logo_link {
    &:hover, &:visited {
      color: inherit;
    }
  }

  #logo {
    display: inline-block;
    font: 40px Verdana, sans-serif;
    white-space: nowrap;
    padding-left: 10%;
    margin: 38px 0 0 0;

    em {
      font: bold italic 52px/50px Georgia, sans;
      color: #000;
    }

    span {
    font-style: italic;
    font-size: 14px;
    vertical-align: 16px;
    margin-left: -4px;
    }
  }

  
  #user_box{
    float: right;
    min-width: 9%;
    border-left: 1px dashed #666;
    text-align: right;
    margin: 0.4em 1em;
    
    a#name_link {
      display: block;
      font: 20px/20px Verdana, sans-serif;
      margin: 2em 0 0.6em 30px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section#primary {
  position: fixed;
  top: 110px;
  bottom: 40px;
  left: 10%;
  right: 10%;
}

footer.main {
  bottom: 0;
  height: 30px;
  background: #666;
  color: #ccc;
  text-align: left;

  p {
    margin: 0.5em 0 0 0;
    font-style: italic;
    border-left: 1px dashed #ccc;
    margin-left: 10%;
    padding-left: 1em;
  }

}

